<html class="no-js">

<head>
    <title> v-model example </title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .example {
            border: 1px blue solid;
            margin: 5px;
            padding: 10px;
        }
    </style>
    <meta charset ="UTF-8"/>
</head>

<body>
    <div id='app'>
       <!--리스트형식의 데이터를 반복해서 표시하기위한 디렉티브
    v-for ="아이템별칭 in 리스트변수" : key="아이템별칭.기준키" -->
        <div class="example">
            <h3>v-for 예제입니다.</h3>
            
            <ul>
                <!--반복문으로 데이터 집어넣기.-->
                <!--바인딩이 되어있으므로, 변수값을 바꾸면 내용도 바뀔것.-->
                <li v-for="car in cars">
                    {{car.brand}} : {{car.name}}
                </li>

                <input type="text" v-model="car.name" placeholder="차이름"/>
                <input type="text" v-model="car.brand" placeholder="차 브랜드"/>
                <button v-on:click="add">추가</button>
                <!-- 블럭 Ctrl+K+C <li> 현대 : 소나타 </li>
                <li> 기아 : K3 </li>
                <li> 현대 : 아반테 </li>
                <li> 기아 : K5 </li> -->

            </ul>

        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                car :{
                    name:'',
                    brand:''
                },
                cars :[
                    {name :'소나타', brand:'현대'},
                    {name :'아반테', brand:'현대'},
                    {name :'K3', brand:'기아'},
                    {name :'K5', brand:'기아'},
                    {name :'K7', brand:'기아'}
                ],   //list : 동일한 타입의 데이터 여러개 가짐
            },
            methods :{
                add:function(){
                //add :(){}
                    this.cars.push(this.car);
                    this.car={};
                }
            }
        })
    </script>


</body>

</html>